* {
    margin: 0;
    padding: 0;
   

}

body {
    background: linear-gradient(to right, #93c8ea, #8282f1, #4949df);
}

.app {
    background: linear-gradient(to right, #93c8ea, #8282f1, #4949df);
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-title {
color: white ;
padding-bottom: 2em;
text-align: center;
font-size: 40px;
text-shadow: 2px 2px 4px rgb(12, 235, 251);
}


nav ul {
    list-style: none;
    background-color: ;
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin: 10px;
    padding: 10px;
  }

  nav li {
    margin: 0 10px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
  }  
  
